<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<meta name="description" content="Creating and hosting beautiful resumes to show
	off who you really are. Register here today to create yours!" />
<meta name="keywords" content="" />
<meta property="og:image" content="https://resumeha.us/images/resume-haus-og.jpg" />
<meta property="og:title" content="Resume Haus" />
<meta property="og:description" content="Creating and hosting beautiful resumes
	to show off who you really are. Register here today to create yours!">
<meta property="og:url" content="https://resumeha.us" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@thecodeboss" />
<meta name="twitter:creator" content="@thecodeboss" />

{% include 'partials/_favicon' %}

<link rel="stylesheet" href="assets/css/main.css" />
