<!DOCTYPE HTML>
<html>
	<head>
		<title>Not Found | Resume Haus</title>
		{% include 'partials/_head' %}
	</head>
  <body class="homepage is-preload">
    <div id="page-wrapper">

      <!-- Header -->
      <div id="header-wrapper">
        <div id="header" class="container">
          <!-- Logo -->
          <h1 id="logo">
            <a href="/">
              <img
                src="/images/Resume-Haus-logo.png"
                alt="Resume Haus"
                />
            </a>
          </h1>
        </div>
      </div>

      <div class="wrapper">
        <div class="container" id="main">
          <article id="content">
            <header>
              <h2>Page Not Found</h2>
              <p>Uh Oh! This URL doesn't exist. <a href="/">Go back to safety</a>.</p>
            </header>
          </article>
        </div>
      </div>

    </div>

    <!-- Scripts -->
    <!-- <script src="assets/js/jquery.min.js"></script> -->
    <!-- <script src="assets/js/jquery.dropotron.min.js"></script> -->
    <!-- <script src="assets/js/browser.min.js"></script> -->
    <!-- <script src="assets/js/breakpoints.min.js"></script> -->
    <!-- <script src="assets/js/util.js"></script> -->
    <!-- <script src="assets/js/main.js"></script> -->

  </body>
</html>
